/* Estilos gerais (padrão para desktop e outros dispositivos) */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #00ff00;
    margin: 50px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo para o terminal */
.terminal {
    border-radius: 5px;
    background-color: #2d2d2d;
    padding: 15px;
    width: 800px;
    max-width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Estilo da área de output */
.output {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    color: #00ff00;
    font-size: 14px;
    min-height: 300px;
}

/* Estilo do input */
.input {
    width: 90%;
    padding: 10px;
    background-color: #333;
    border: none;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

/* Estilo do footer */
footer {
    display: flex;
    justify-content: end;
    color: aliceblue;
    position: fixed;   /* Mantém o footer fixo */
    bottom: 0;         /* Posiciona na parte inferior */
    width: 100%;       /* Faz com que o footer ocupe toda a largura da página */
    background-color: black; /* Opcional: cor de fundo para o footer */
    padding: 10px;     /* Opcional: espaço interno */
}

/* Ajuste para iPhone 12 (390px x 844px - modo retrato) */
@media only screen and (max-width: 390px) {
    body {
        margin: 0;
        padding: 10px;
        flex-direction: column; /* Muda a direção do conteúdo para coluna */
        justify-content: flex-start;
        align-items: flex-start;
    }

    .terminal {
        width: 100%; /* Terminal ocupa a largura total */
        padding: 10px;
    }

    .output {
        margin: 10px 0; /* Reduz as margens */
        font-size: 12px;
    }

    .input {
        width: 100%;
        font-size: 12px;
    }

    footer {
        padding: 5px;
        font-size: 12px;
    }
}

/* Ajuste para iPhone 12 no modo paisagem (844px x 390px) */
@media only screen and (min-width: 391px) and (max-width: 844px) {
    body {
        margin: 0;
        padding: 10px;
    }

    .terminal {
        width: 100%;
    }

    .output {
        margin: 10px;
        font-size: 14px;
    }

    .input {
        width: 100%;
        font-size: 14px;
    }

    footer {
        padding: 5px;
        font-size: 14px;
    }
}
